.App {
  text-align: center;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
}

.App-main {
  background: transparent linear-gradient(180deg, var(--naranja) 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FE4518 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  height: 100vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadein {
  0% {
    opacity:0;
  }
  45% {
    opacity:0;
  }
  55% {
    opacity:1;
  }
  99% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  top: 494px;
  left: 891px;
  width: 297px;
  height: 144px;  
  opacity:0;
  animation-name: fadein;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}